<!DOCTYPE html>
<html class="no-js" lang="en-GB">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta content="" name="description">
    <meta content="" name="keywords">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <meta content="telephone=no" name="format-detection">
    <meta name="HandheldFriendly" content="true">

    <title>Sides Archives - Burger King  </title>

    <!-- FAVICON -->
    <link rel="apple-touch-icon" sizes="180x180" href="/img/apple-touch-icon.png">
    <link rel="icon" type="image/x-icon" href="/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon-16x16.png">
    <link rel="mask-icon" href="/img/safari-pinned-tab.svg" color="#ff0000">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <!-- /FAVICON -->
    <style>img:is([sizes="auto" i], [sizes^="auto," i]) { contain-intrinsic-size: 3000px 1500px }</style>
    <meta name="description" content="Every day, more than 11 million guests visit BURGER KING® restaurants around the world. And they do so because our restaurants are known for serving high-quality, great-tasting, and affordable food." />
    <meta property="og:title" content="Home - Burger King" />
    <meta property="og:description" content="Every day, more than 11 million guests visit BURGER KING® restaurants around the world. And they do so because our restaurants are known for serving high-quality, great-tasting, and affordable food." />
    <link rel='stylesheet' id='wp-block-library-css' href='./css/style.min.css' type='text/css' media='all' />
    <style id='classic-theme-styles-inline-css' type='text/css'>
        .wp-block-button__link{color:#fff;background-color:#32373c;border-radius:9999px;box-shadow:none;text-decoration:none;padding:calc(.667em + 2px) calc(1.333em + 2px);font-size:1.125em}.wp-block-file__button{background:#32373c;color:#fff;text-decoration:none}
    </style>
    <style id='global-styles-inline-css' type='text/css'>
        :root{--wp--preset--aspect-ratio--square: 1;--wp--preset--aspect-ratio--4-3: 4/3;--wp--preset--aspect-ratio--3-4: 3/4;--wp--preset--aspect-ratio--3-2: 3/2;--wp--preset--aspect-ratio--2-3: 2/3;--wp--preset--aspect-ratio--16-9: 16/9;--wp--preset--aspect-ratio--9-16: 9/16;--wp--preset--color--black: #000000;--wp--preset--color--cyan-bluish-gray: #abb8c3;--wp--preset--color--white: #ffffff;--wp--preset--color--pale-pink: #f78da7;--wp--preset--color--vivid-red: #cf2e2e;--wp--preset--color--luminous-vivid-orange: #ff6900;--wp--preset--color--luminous-vivid-amber: #fcb900;--wp--preset--color--light-green-cyan: #7bdcb5;--wp--preset--color--vivid-green-cyan: #00d084;--wp--preset--color--pale-cyan-blue: #8ed1fc;--wp--preset--color--vivid-cyan-blue: #0693e3;--wp--preset--color--vivid-purple: #9b51e0;--wp--preset--gradient--vivid-cyan-blue-to-vivid-purple: linear-gradient(135deg,rgba(6,147,227,1) 0%,rgb(155,81,224) 100%);--wp--preset--gradient--light-green-cyan-to-vivid-green-cyan: linear-gradient(135deg,rgb(122,220,180) 0%,rgb(0,208,130) 100%);--wp--preset--gradient--luminous-vivid-amber-to-luminous-vivid-orange: linear-gradient(135deg,rgba(252,185,0,1) 0%,rgba(255,105,0,1) 100%);--wp--preset--gradient--luminous-vivid-orange-to-vivid-red: linear-gradient(135deg,rgba(255,105,0,1) 0%,rgb(207,46,46) 100%);--wp--preset--gradient--very-light-gray-to-cyan-bluish-gray: linear-gradient(135deg,rgb(238,238,238) 0%,rgb(169,184,195) 100%);--wp--preset--gradient--cool-to-warm-spectrum: linear-gradient(135deg,rgb(74,234,220) 0%,rgb(151,120,209) 20%,rgb(207,42,186) 40%,rgb(238,44,130) 60%,rgb(251,105,98) 80%,rgb(254,248,76) 100%);--wp--preset--gradient--blush-light-purple: linear-gradient(135deg,rgb(255,206,236) 0%,rgb(152,150,240) 100%);--wp--preset--gradient--blush-bordeaux: linear-gradient(135deg,rgb(254,205,165) 0%,rgb(254,45,45) 50%,rgb(107,0,62) 100%);--wp--preset--gradient--luminous-dusk: linear-gradient(135deg,rgb(255,203,112) 0%,rgb(199,81,192) 50%,rgb(65,88,208) 100%);--wp--preset--gradient--pale-ocean: linear-gradient(135deg,rgb(255,245,203) 0%,rgb(182,227,212) 50%,rgb(51,167,181) 100%);--wp--preset--gradient--electric-grass: linear-gradient(135deg,rgb(202,248,128) 0%,rgb(113,206,126) 100%);--wp--preset--gradient--midnight: linear-gradient(135deg,rgb(2,3,129) 0%,rgb(40,116,252) 100%);--wp--preset--font-size--small: 13px;--wp--preset--font-size--medium: 20px;--wp--preset--font-size--large: 36px;--wp--preset--font-size--x-large: 42px;--wp--preset--spacing--20: 0.44rem;--wp--preset--spacing--30: 0.67rem;--wp--preset--spacing--40: 1rem;--wp--preset--spacing--50: 1.5rem;--wp--preset--spacing--60: 2.25rem;--wp--preset--spacing--70: 3.38rem;--wp--preset--spacing--80: 5.06rem;--wp--preset--shadow--natural: 6px 6px 9px rgba(0, 0, 0, 0.2);--wp--preset--shadow--deep: 12px 12px 50px rgba(0, 0, 0, 0.4);--wp--preset--shadow--sharp: 6px 6px 0px rgba(0, 0, 0, 0.2);--wp--preset--shadow--outlined: 6px 6px 0px -3px rgba(255, 255, 255, 1), 6px 6px rgba(0, 0, 0, 1);--wp--preset--shadow--crisp: 6px 6px 0px rgba(0, 0, 0, 1);}:where(.is-layout-flex){gap: 0.5em;}:where(.is-layout-grid){gap: 0.5em;}body .is-layout-flex{display: flex;}.is-layout-flex{flex-wrap: wrap;align-items: center;}.is-layout-flex > :is(*, div){margin: 0;}body .is-layout-grid{display: grid;}.is-layout-grid > :is(*, div){margin: 0;}:where(.wp-block-columns.is-layout-flex){gap: 2em;}:where(.wp-block-columns.is-layout-grid){gap: 2em;}:where(.wp-block-post-template.is-layout-flex){gap: 1.25em;}:where(.wp-block-post-template.is-layout-grid){gap: 1.25em;}.has-black-color{color: var(--wp--preset--color--black) !important;}.has-cyan-bluish-gray-color{color: var(--wp--preset--color--cyan-bluish-gray) !important;}.has-white-color{color: var(--wp--preset--color--white) !important;}.has-pale-pink-color{color: var(--wp--preset--color--pale-pink) !important;}.has-vivid-red-color{color: var(--wp--preset--color--vivid-red) !important;}.has-luminous-vivid-orange-color{color: var(--wp--preset--color--luminous-vivid-orange) !important;}.has-luminous-vivid-amber-color{color: var(--wp--preset--color--luminous-vivid-amber) !important;}.has-light-green-cyan-color{color: var(--wp--preset--color--light-green-cyan) !important;}.has-vivid-green-cyan-color{color: var(--wp--preset--color--vivid-green-cyan) !important;}.has-pale-cyan-blue-color{color: var(--wp--preset--color--pale-cyan-blue) !important;}.has-vivid-cyan-blue-color{color: var(--wp--preset--color--vivid-cyan-blue) !important;}.has-vivid-purple-color{color: var(--wp--preset--color--vivid-purple) !important;}.has-black-background-color{background-color: var(--wp--preset--color--black) !important;}.has-cyan-bluish-gray-background-color{background-color: var(--wp--preset--color--cyan-bluish-gray) !important;}.has-white-background-color{background-color: var(--wp--preset--color--white) !important;}.has-pale-pink-background-color{background-color: var(--wp--preset--color--pale-pink) !important;}.has-vivid-red-background-color{background-color: var(--wp--preset--color--vivid-red) !important;}.has-luminous-vivid-orange-background-color{background-color: var(--wp--preset--color--luminous-vivid-orange) !important;}.has-luminous-vivid-amber-background-color{background-color: var(--wp--preset--color--luminous-vivid-amber) !important;}.has-light-green-cyan-background-color{background-color: var(--wp--preset--color--light-green-cyan) !important;}.has-vivid-green-cyan-background-color{background-color: var(--wp--preset--color--vivid-green-cyan) !important;}.has-pale-cyan-blue-background-color{background-color: var(--wp--preset--color--pale-cyan-blue) !important;}.has-vivid-cyan-blue-background-color{background-color: var(--wp--preset--color--vivid-cyan-blue) !important;}.has-vivid-purple-background-color{background-color: var(--wp--preset--color--vivid-purple) !important;}.has-black-border-color{border-color: var(--wp--preset--color--black) !important;}.has-cyan-bluish-gray-border-color{border-color: var(--wp--preset--color--cyan-bluish-gray) !important;}.has-white-border-color{border-color: var(--wp--preset--color--white) !important;}.has-pale-pink-border-color{border-color: var(--wp--preset--color--pale-pink) !important;}.has-vivid-red-border-color{border-color: var(--wp--preset--color--vivid-red) !important;}.has-luminous-vivid-orange-border-color{border-color: var(--wp--preset--color--luminous-vivid-orange) !important;}.has-luminous-vivid-amber-border-color{border-color: var(--wp--preset--color--luminous-vivid-amber) !important;}.has-light-green-cyan-border-color{border-color: var(--wp--preset--color--light-green-cyan) !important;}.has-vivid-green-cyan-border-color{border-color: var(--wp--preset--color--vivid-green-cyan) !important;}.has-pale-cyan-blue-border-color{border-color: var(--wp--preset--color--pale-cyan-blue) !important;}.has-vivid-cyan-blue-border-color{border-color: var(--wp--preset--color--vivid-cyan-blue) !important;}.has-vivid-purple-border-color{border-color: var(--wp--preset--color--vivid-purple) !important;}.has-vivid-cyan-blue-to-vivid-purple-gradient-background{background: var(--wp--preset--gradient--vivid-cyan-blue-to-vivid-purple) !important;}.has-light-green-cyan-to-vivid-green-cyan-gradient-background{background: var(--wp--preset--gradient--light-green-cyan-to-vivid-green-cyan) !important;}.has-luminous-vivid-amber-to-luminous-vivid-orange-gradient-background{background: var(--wp--preset--gradient--luminous-vivid-amber-to-luminous-vivid-orange) !important;}.has-luminous-vivid-orange-to-vivid-red-gradient-background{background: var(--wp--preset--gradient--luminous-vivid-orange-to-vivid-red) !important;}.has-very-light-gray-to-cyan-bluish-gray-gradient-background{background: var(--wp--preset--gradient--very-light-gray-to-cyan-bluish-gray) !important;}.has-cool-to-warm-spectrum-gradient-background{background: var(--wp--preset--gradient--cool-to-warm-spectrum) !important;}.has-blush-light-purple-gradient-background{background: var(--wp--preset--gradient--blush-light-purple) !important;}.has-blush-bordeaux-gradient-background{background: var(--wp--preset--gradient--blush-bordeaux) !important;}.has-luminous-dusk-gradient-background{background: var(--wp--preset--gradient--luminous-dusk) !important;}.has-pale-ocean-gradient-background{background: var(--wp--preset--gradient--pale-ocean) !important;}.has-electric-grass-gradient-background{background: var(--wp--preset--gradient--electric-grass) !important;}.has-midnight-gradient-background{background: var(--wp--preset--gradient--midnight) !important;}.has-small-font-size{font-size: var(--wp--preset--font-size--small) !important;}.has-medium-font-size{font-size: var(--wp--preset--font-size--medium) !important;}.has-large-font-size{font-size: var(--wp--preset--font-size--large) !important;}.has-x-large-font-size{font-size: var(--wp--preset--font-size--x-large) !important;}
        :where(.wp-block-post-template.is-layout-flex){gap: 1.25em;}:where(.wp-block-post-template.is-layout-grid){gap: 1.25em;}
        :where(.wp-block-columns.is-layout-flex){gap: 2em;}:where(.wp-block-columns.is-layout-grid){gap: 2em;}
        :root :where(.wp-block-pullquote){font-size: 1.5em;line-height: 1.6;}
    </style>
    <link rel='stylesheet' id='main-css' href="/css/main.css" type='text/css' media='all' />
    <script type="text/javascript" src="/js/jquery.min.js" id="jquery-core-js"></script>
    <link rel='stylesheet' id='main-css' href="/support/support_parent.css" type='text/css' media='all' />
</head>

<body class="home page-template page-template-includes page-template-home page-template-includeshome-php page page-id-2">
<div>
    <div class="support-circle" onclick="window.location = '/cart'">
        <span class="cart-count" id="cart-count"><%=cartsCount%></span>
    </div>
</div>
<div class="wrapper">
    <%- include('../model/hader')%>
    <section class="page-title" style="background-color: #d62300; color: #fff;">
        <div class="container">
            <h1>Sides</h1>
        </div>
    </section>


    <section class="main menu">
        <a href="/our-menu" class="menu__back btn btn--back">Main Menu</a>

        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-6 menu__item-wrapper">
                    <a href="/product/crispy-onion-loaded-fries/" class="menu__item">
                        <div class="image"><img width="1200" height="800" src="/img/Crispy_Onions_Loaded_Fries_-1200x800-1.png" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" decoding="async" fetchpriority="high" srcset="/img/Crispy_Onions_Loaded_Fries_-1200x800-1.png 1200w, /img/Crispy_Onions_Loaded_Fries_-1200x800-1-300x200.png 300w, /img/Crispy_Onions_Loaded_Fries_-1200x800-1-1024x683.png 1024w, /img/Crispy_Onions_Loaded_Fries_-1200x800-1-768x512.png 768w" sizes="(max-width: 1200px) 100vw, 1200px"></div>
                        <h5 class="title title--no-bg-color"><span>Crispy Onion Loaded Fries<p><s>5.75€</s></p><p style="color:red;">2.875€</p></span></h5>
                    </a>
                </div>
                <div class="col-lg-4 col-6 menu__item-wrapper">
                    <a href="/product/chilli-cheese-loaded-fries/" class="menu__item">
                        <div class="image"><img width="1200" height="800" src="/img/Chili-Cheese-Loaded-Fries_-1200x800_DE.png" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" decoding="async" srcset="/img/Chili-Cheese-Loaded-Fries_-1200x800_DE.png 1200w, /img/Chili-Cheese-Loaded-Fries_-1200x800_DE-300x200.png 300w, /img/Chili-Cheese-Loaded-Fries_-1200x800_DE-1024x683.png 1024w, /img/Chili-Cheese-Loaded-Fries_-1200x800_DE-768x512.png 768w" sizes="(max-width: 1200px) 100vw, 1200px"></div>
                        <h5 class="title title--no-bg-color"><span>Chilli Cheese Loaded Fries<p><s>5.75€</s></p><p style="color:red;">2.875€</p></span></h5>
                    </a>
                </div>
                <div class="col-lg-4 col-6 menu__item-wrapper">
                    <a href="/product/bacon-cheese-loaded-fries/" class="menu__item">
                        <div class="image"><img width="1200" height="800" src="/img/Web_App_1200x800_Sides_Bacon_Cheese_Fries_Web.png" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" decoding="async" srcset="/img/Web_App_1200x800_Sides_Bacon_Cheese_Fries_Web.png 1200w, /img/Web_App_1200x800_Sides_Bacon_Cheese_Fries_Web-300x200.png 300w, /img/Web_App_1200x800_Sides_Bacon_Cheese_Fries_Web-1024x683.png 1024w, /img/Web_App_1200x800_Sides_Bacon_Cheese_Fries_Web-768x512.png 768w" sizes="(max-width: 1200px) 100vw, 1200px"></div>
                        <h5 class="title title--no-bg-color"><span>Bacon Cheese Loaded Fries<p><s>5.75€</s></p><p style="color:red;">2.875€</p></span></h5>
                    </a>
                </div>
                <div class="col-lg-4 col-6 menu__item-wrapper">
                    <a href="/product/chicken-strips-2/" class="menu__item">
                        <div class="image"><img width="1200" height="800" src="/img/Chicken-Stripes_-1200x800_DE.png" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" decoding="async" loading="lazy" srcset="/img/Chicken-Stripes_-1200x800_DE.png 1200w, /img/Chicken-Stripes_-1200x800_DE-300x200.png 300w, /img/Chicken-Stripes_-1200x800_DE-1024x683.png 1024w, /img/Chicken-Stripes_-1200x800_DE-768x512.png 768w" sizes="auto, (max-width: 1200px) 100vw, 1200px"></div>
                        <h5 class="title title--no-bg-color"><span>Chicken Strips<p><s>9.95€</s></p><p style="color:red;">4.975€</p></span></h5>
                    </a>
                </div>
                <div class="col-lg-4 col-6 menu__item-wrapper">
                    <a href="/product/fries/" class="menu__item">
                        <div class="image"><img width="1200" height="800" src="/img/Fries_-1200x800-1.png" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" decoding="async" loading="lazy" srcset="/img/Fries_-1200x800-1.png 1200w, /img/Fries_-1200x800-1-300x200.png 300w, /img/Fries_-1200x800-1-1024x683.png 1024w, /img/Fries_-1200x800-1-768x512.png 768w" sizes="auto, (max-width: 1200px) 100vw, 1200px"></div>
                        <h5 class="title title--no-bg-color"><span>Fries<p><s>4.25€</s></p><p style="color:red;">2.125€</p></span></h5>
                    </a>
                </div>
                <div class="col-lg-4 col-6 menu__item-wrapper">
                    <a href="/product/onion-rings-2/" class="menu__item">
                        <div class="image"><img width="1200" height="800" src="/img/Onion-Rings-8Pc-1200x800-1.png" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" decoding="async" loading="lazy" srcset="/img/Onion-Rings-8Pc-1200x800-1.png 1200w, /img/Onion-Rings-8Pc-1200x800-1-300x200.png 300w, /img/Onion-Rings-8Pc-1200x800-1-1024x683.png 1024w, /img/Onion-Rings-8Pc-1200x800-1-768x512.png 768w" sizes="auto, (max-width: 1200px) 100vw, 1200px"></div>
                        <h5 class="title title--no-bg-color"><span>Onion Rings*<p><s>3.95€</s></p><p style="color:red;">1.975€</p></span></h5>
                    </a>
                </div>
                <div class="col-lg-4 col-6 menu__item-wrapper">
                    <a href="/product/chilli-cheese-bites-2/" class="menu__item">
                        <div class="image"><img width="1200" height="800" src="/img/Chili_Cheese_Nuggets_6_-1200x800_DE.png" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" decoding="async" loading="lazy" srcset="/img/Chili_Cheese_Nuggets_6_-1200x800_DE.png 1200w, /img/Chili_Cheese_Nuggets_6_-1200x800_DE-300x200.png 300w, /img/Chili_Cheese_Nuggets_6_-1200x800_DE-1024x683.png 1024w, /img/Chili_Cheese_Nuggets_6_-1200x800_DE-768x512.png 768w" sizes="auto, (max-width: 1200px) 100vw, 1200px"></div>
                        <h5 class="title title--no-bg-color"><span>Chilli Cheese Bites*<p><s>3.95€</s></p><p style="color:red;">1.975€</p></span></h5>
                    </a>
                </div>
                <div class="col-lg-4 col-6 menu__item-wrapper">
                    <a href="/product/chicken-fries-2" class="menu__item">
                        <div class="image"><img width="1200" height="800" src="/img/Chicken_Fries_-1200x800_DE-2.png" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" decoding="async" loading="lazy" srcset="/img/Chicken_Fries_-1200x800_DE-2.png 1200w, /img/Chicken_Fries_-1200x800_DE-2-300x200.png 300w, /img/Chicken_Fries_-1200x800_DE-2-1024x683.png 1024w, /img/Chicken_Fries_-1200x800_DE-2-768x512.png 768w" sizes="auto, (max-width: 1200px) 100vw, 1200px"></div>
                        <h5 class="title title--no-bg-color"><span>Chicken Fries*<p><s>4.25€</s></p><p style="color:red;">2.125€</p></span></h5>
                    </a>
                </div>
                <div class="col-lg-4 col-6 menu__item-wrapper">
                    <a href="/product/chicken-nuggets-3/" class="menu__item">
                        <div class="image"><img width="1200" height="800" src="/img/Nuggets_5pc_1200x800.png" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" decoding="async" loading="lazy" srcset="/img/Nuggets_5pc_1200x800.png 1200w, /img/Nuggets_5pc_1200x800-300x200.png 300w, /img/Nuggets_5pc_1200x800-1024x683.png 1024w, /img/Nuggets_5pc_1200x800-768x512.png 768w" sizes="auto, (max-width: 1200px) 100vw, 1200px"></div>
                        <h5 class="title title--no-bg-color"><span>Chicken Nuggets*<p><s>5.45€</s></p><p style="color:red;">2.725€</p></span></h5>
                    </a>
                </div>
            </div>
        </div>


    </section>
    <%- include('../model/footer')%>

    <script type="text/javascript" src="/js/main.js" id="scripts-js"></script>
</div>
    <script type="text/javascript" src="/js/cart.js"></script>
</body>
</html>

