<!DOCTYPE html>
<html class="no-js" lang="en-GB">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta content="" name="description">
    <meta content="" name="keywords">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <meta content="telephone=no" name="format-detection">
    <meta name="HandheldFriendly" content="true">

    <title>
        Privacy Notice - Burger King  </title>

    <!-- FAVICON -->
    <link rel="apple-touch-icon" sizes="180x180" href="/img/apple-touch-icon.png">
    <link rel="icon" type="image/x-icon" href="/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon-16x16.png">
    <link rel="mask-icon" href="/img/safari-pinned-tab.svg" color="#ff0000">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <!-- /FAVICON -->
    <style>img:is([sizes="auto" i], [sizes^="auto," i]) { contain-intrinsic-size: 3000px 1500px }</style>
    <meta name="description" content="Every day, more than 11 million guests visit BURGER KING® restaurants around the world. And they do so because our restaurants are known for serving high-quality, great-tasting, and affordable food." />
    <meta property="og:title" content="Home - Burger King" />
    <meta property="og:description" content="Every day, more than 11 million guests visit BURGER KING® restaurants around the world. And they do so because our restaurants are known for serving high-quality, great-tasting, and affordable food." />
    <link rel='stylesheet' id='wp-block-library-css' href='./css/style.min.css' type='text/css' media='all' />
    <style id='classic-theme-styles-inline-css' type='text/css'>
        .wp-block-button__link{color:#fff;background-color:#32373c;border-radius:9999px;box-shadow:none;text-decoration:none;padding:calc(.667em + 2px) calc(1.333em + 2px);font-size:1.125em}.wp-block-file__button{background:#32373c;color:#fff;text-decoration:none}
    </style>
    <style id='global-styles-inline-css' type='text/css'>
        :root{--wp--preset--aspect-ratio--square: 1;--wp--preset--aspect-ratio--4-3: 4/3;--wp--preset--aspect-ratio--3-4: 3/4;--wp--preset--aspect-ratio--3-2: 3/2;--wp--preset--aspect-ratio--2-3: 2/3;--wp--preset--aspect-ratio--16-9: 16/9;--wp--preset--aspect-ratio--9-16: 9/16;--wp--preset--color--black: #000000;--wp--preset--color--cyan-bluish-gray: #abb8c3;--wp--preset--color--white: #ffffff;--wp--preset--color--pale-pink: #f78da7;--wp--preset--color--vivid-red: #cf2e2e;--wp--preset--color--luminous-vivid-orange: #ff6900;--wp--preset--color--luminous-vivid-amber: #fcb900;--wp--preset--color--light-green-cyan: #7bdcb5;--wp--preset--color--vivid-green-cyan: #00d084;--wp--preset--color--pale-cyan-blue: #8ed1fc;--wp--preset--color--vivid-cyan-blue: #0693e3;--wp--preset--color--vivid-purple: #9b51e0;--wp--preset--gradient--vivid-cyan-blue-to-vivid-purple: linear-gradient(135deg,rgba(6,147,227,1) 0%,rgb(155,81,224) 100%);--wp--preset--gradient--light-green-cyan-to-vivid-green-cyan: linear-gradient(135deg,rgb(122,220,180) 0%,rgb(0,208,130) 100%);--wp--preset--gradient--luminous-vivid-amber-to-luminous-vivid-orange: linear-gradient(135deg,rgba(252,185,0,1) 0%,rgba(255,105,0,1) 100%);--wp--preset--gradient--luminous-vivid-orange-to-vivid-red: linear-gradient(135deg,rgba(255,105,0,1) 0%,rgb(207,46,46) 100%);--wp--preset--gradient--very-light-gray-to-cyan-bluish-gray: linear-gradient(135deg,rgb(238,238,238) 0%,rgb(169,184,195) 100%);--wp--preset--gradient--cool-to-warm-spectrum: linear-gradient(135deg,rgb(74,234,220) 0%,rgb(151,120,209) 20%,rgb(207,42,186) 40%,rgb(238,44,130) 60%,rgb(251,105,98) 80%,rgb(254,248,76) 100%);--wp--preset--gradient--blush-light-purple: linear-gradient(135deg,rgb(255,206,236) 0%,rgb(152,150,240) 100%);--wp--preset--gradient--blush-bordeaux: linear-gradient(135deg,rgb(254,205,165) 0%,rgb(254,45,45) 50%,rgb(107,0,62) 100%);--wp--preset--gradient--luminous-dusk: linear-gradient(135deg,rgb(255,203,112) 0%,rgb(199,81,192) 50%,rgb(65,88,208) 100%);--wp--preset--gradient--pale-ocean: linear-gradient(135deg,rgb(255,245,203) 0%,rgb(182,227,212) 50%,rgb(51,167,181) 100%);--wp--preset--gradient--electric-grass: linear-gradient(135deg,rgb(202,248,128) 0%,rgb(113,206,126) 100%);--wp--preset--gradient--midnight: linear-gradient(135deg,rgb(2,3,129) 0%,rgb(40,116,252) 100%);--wp--preset--font-size--small: 13px;--wp--preset--font-size--medium: 20px;--wp--preset--font-size--large: 36px;--wp--preset--font-size--x-large: 42px;--wp--preset--spacing--20: 0.44rem;--wp--preset--spacing--30: 0.67rem;--wp--preset--spacing--40: 1rem;--wp--preset--spacing--50: 1.5rem;--wp--preset--spacing--60: 2.25rem;--wp--preset--spacing--70: 3.38rem;--wp--preset--spacing--80: 5.06rem;--wp--preset--shadow--natural: 6px 6px 9px rgba(0, 0, 0, 0.2);--wp--preset--shadow--deep: 12px 12px 50px rgba(0, 0, 0, 0.4);--wp--preset--shadow--sharp: 6px 6px 0px rgba(0, 0, 0, 0.2);--wp--preset--shadow--outlined: 6px 6px 0px -3px rgba(255, 255, 255, 1), 6px 6px rgba(0, 0, 0, 1);--wp--preset--shadow--crisp: 6px 6px 0px rgba(0, 0, 0, 1);}:where(.is-layout-flex){gap: 0.5em;}:where(.is-layout-grid){gap: 0.5em;}body .is-layout-flex{display: flex;}.is-layout-flex{flex-wrap: wrap;align-items: center;}.is-layout-flex > :is(*, div){margin: 0;}body .is-layout-grid{display: grid;}.is-layout-grid > :is(*, div){margin: 0;}:where(.wp-block-columns.is-layout-flex){gap: 2em;}:where(.wp-block-columns.is-layout-grid){gap: 2em;}:where(.wp-block-post-template.is-layout-flex){gap: 1.25em;}:where(.wp-block-post-template.is-layout-grid){gap: 1.25em;}.has-black-color{color: var(--wp--preset--color--black) !important;}.has-cyan-bluish-gray-color{color: var(--wp--preset--color--cyan-bluish-gray) !important;}.has-white-color{color: var(--wp--preset--color--white) !important;}.has-pale-pink-color{color: var(--wp--preset--color--pale-pink) !important;}.has-vivid-red-color{color: var(--wp--preset--color--vivid-red) !important;}.has-luminous-vivid-orange-color{color: var(--wp--preset--color--luminous-vivid-orange) !important;}.has-luminous-vivid-amber-color{color: var(--wp--preset--color--luminous-vivid-amber) !important;}.has-light-green-cyan-color{color: var(--wp--preset--color--light-green-cyan) !important;}.has-vivid-green-cyan-color{color: var(--wp--preset--color--vivid-green-cyan) !important;}.has-pale-cyan-blue-color{color: var(--wp--preset--color--pale-cyan-blue) !important;}.has-vivid-cyan-blue-color{color: var(--wp--preset--color--vivid-cyan-blue) !important;}.has-vivid-purple-color{color: var(--wp--preset--color--vivid-purple) !important;}.has-black-background-color{background-color: var(--wp--preset--color--black) !important;}.has-cyan-bluish-gray-background-color{background-color: var(--wp--preset--color--cyan-bluish-gray) !important;}.has-white-background-color{background-color: var(--wp--preset--color--white) !important;}.has-pale-pink-background-color{background-color: var(--wp--preset--color--pale-pink) !important;}.has-vivid-red-background-color{background-color: var(--wp--preset--color--vivid-red) !important;}.has-luminous-vivid-orange-background-color{background-color: var(--wp--preset--color--luminous-vivid-orange) !important;}.has-luminous-vivid-amber-background-color{background-color: var(--wp--preset--color--luminous-vivid-amber) !important;}.has-light-green-cyan-background-color{background-color: var(--wp--preset--color--light-green-cyan) !important;}.has-vivid-green-cyan-background-color{background-color: var(--wp--preset--color--vivid-green-cyan) !important;}.has-pale-cyan-blue-background-color{background-color: var(--wp--preset--color--pale-cyan-blue) !important;}.has-vivid-cyan-blue-background-color{background-color: var(--wp--preset--color--vivid-cyan-blue) !important;}.has-vivid-purple-background-color{background-color: var(--wp--preset--color--vivid-purple) !important;}.has-black-border-color{border-color: var(--wp--preset--color--black) !important;}.has-cyan-bluish-gray-border-color{border-color: var(--wp--preset--color--cyan-bluish-gray) !important;}.has-white-border-color{border-color: var(--wp--preset--color--white) !important;}.has-pale-pink-border-color{border-color: var(--wp--preset--color--pale-pink) !important;}.has-vivid-red-border-color{border-color: var(--wp--preset--color--vivid-red) !important;}.has-luminous-vivid-orange-border-color{border-color: var(--wp--preset--color--luminous-vivid-orange) !important;}.has-luminous-vivid-amber-border-color{border-color: var(--wp--preset--color--luminous-vivid-amber) !important;}.has-light-green-cyan-border-color{border-color: var(--wp--preset--color--light-green-cyan) !important;}.has-vivid-green-cyan-border-color{border-color: var(--wp--preset--color--vivid-green-cyan) !important;}.has-pale-cyan-blue-border-color{border-color: var(--wp--preset--color--pale-cyan-blue) !important;}.has-vivid-cyan-blue-border-color{border-color: var(--wp--preset--color--vivid-cyan-blue) !important;}.has-vivid-purple-border-color{border-color: var(--wp--preset--color--vivid-purple) !important;}.has-vivid-cyan-blue-to-vivid-purple-gradient-background{background: var(--wp--preset--gradient--vivid-cyan-blue-to-vivid-purple) !important;}.has-light-green-cyan-to-vivid-green-cyan-gradient-background{background: var(--wp--preset--gradient--light-green-cyan-to-vivid-green-cyan) !important;}.has-luminous-vivid-amber-to-luminous-vivid-orange-gradient-background{background: var(--wp--preset--gradient--luminous-vivid-amber-to-luminous-vivid-orange) !important;}.has-luminous-vivid-orange-to-vivid-red-gradient-background{background: var(--wp--preset--gradient--luminous-vivid-orange-to-vivid-red) !important;}.has-very-light-gray-to-cyan-bluish-gray-gradient-background{background: var(--wp--preset--gradient--very-light-gray-to-cyan-bluish-gray) !important;}.has-cool-to-warm-spectrum-gradient-background{background: var(--wp--preset--gradient--cool-to-warm-spectrum) !important;}.has-blush-light-purple-gradient-background{background: var(--wp--preset--gradient--blush-light-purple) !important;}.has-blush-bordeaux-gradient-background{background: var(--wp--preset--gradient--blush-bordeaux) !important;}.has-luminous-dusk-gradient-background{background: var(--wp--preset--gradient--luminous-dusk) !important;}.has-pale-ocean-gradient-background{background: var(--wp--preset--gradient--pale-ocean) !important;}.has-electric-grass-gradient-background{background: var(--wp--preset--gradient--electric-grass) !important;}.has-midnight-gradient-background{background: var(--wp--preset--gradient--midnight) !important;}.has-small-font-size{font-size: var(--wp--preset--font-size--small) !important;}.has-medium-font-size{font-size: var(--wp--preset--font-size--medium) !important;}.has-large-font-size{font-size: var(--wp--preset--font-size--large) !important;}.has-x-large-font-size{font-size: var(--wp--preset--font-size--x-large) !important;}
        :where(.wp-block-post-template.is-layout-flex){gap: 1.25em;}:where(.wp-block-post-template.is-layout-grid){gap: 1.25em;}
        :where(.wp-block-columns.is-layout-flex){gap: 2em;}:where(.wp-block-columns.is-layout-grid){gap: 2em;}
        :root :where(.wp-block-pullquote){font-size: 1.5em;line-height: 1.6;}
    </style>
    <link rel='stylesheet' id='main-css' href="/css/main.css" type='text/css' media='all' />
    <script type="text/javascript" src="/js/jquery.min.js" id="jquery-core-js"></script>
</head>

<body class="home page-template page-template-includes page-template-home page-template-includeshome-php page page-id-2">
<div class="wrapper">
    <%- include('./model/hader')%>
    <section class="page-title" style="background-color: #ff8732; color: #fcfcfc;">
        <div class="container">
            <h1>Privacy Notice</h1>
        </div>
    </section>


    <div class="main">
        <div class="container">
            <div class="the_content">

                <p>Restaurant Brands International, Inc. (RBI), the proud owner of the BURGER KING®, TIM HORTONS® and POPEYES® restaurant brands, knows that your privacy is important. This Privacy Notice sets out our privacy practices that apply when you use any BURGER KING®, TIM HORTONS®, or POPEYES® website, mobile or tablet application or other online service or platform of BURGER KING®, TIM HORTONS®, POPEYES® or any other RBI company that links or refers to it (collectively, the “Services”), regardless of who owns or operates the Services, as well as our interactions with you on third party platforms (such as social media).</p>



                <h3 class="wp-block-heading"><strong>1. Personal Data Controller and Data Protection Officer Contact Details</strong></h3>



                <p>Your personal data provided is processed by the following Personal Data Controller:<br>Burger King Europe GmbH<br>Inwilerriedstrasse 61<br>6340 Baar<br>Switzerland</p>



                <p>In case of any questions or concerns, please contact our Data Protection Officer using the details below:</p>



                <p><strong>Via email</strong>: BKIrelandDPO@rbi.com</p>



                <p><strong>Via post:</strong> Burger King Europe GmbH<br>attn.: Data Protection Officer<br>Inwilerriedstrasse 61<br>6340 Baar<br>Switzerland</p>



                <h3 class="wp-block-heading"><strong>2. Personal Data We Collect</strong></h3>



                <p>We collect personal data about our users in various ways. For example, we collect personal data that you provide to us, personal data that we collect through your use of the Services, and personal data that we collect from publicly available sources or third parties.</p>



                <p><strong>Data You Provide to Us.&nbsp; </strong>We collect personal data you give us when you use the Services. For example, when you visit one of our websites or use one of our Services, create an account with us, buy a stored-value card online, participate in a survey or promotion, we may ask for information such as your name, e-mail address, year of birth, gender, street address, or mobile phone number so that we can provide Services to you. We may collect payment information, such as your credit card number, security code and expiration date, to process a financial transaction you have requested. We also may collect information about the products you buy, including where and how frequently you buy them, your use of coupons and stored-value cards, and the rewards you earn through our loyalty programs so that we can learn more about your interests and better serve you. You are not obliged to provide your personal data to us (neither statutorily not contractually). However, if you decide not to provide your personal data, we may not be able to (fully) provide our Services to you.</p>



                <p><strong>Data About Your Use of the Services</strong>. In addition to the personal data you provide to us directly, we may collect personal data about your use of the Services. For example, we may collect:<br>• Device information — such as your hardware model, IP address, other unique device identifiers, operating system version, and settings of the device you use to access the Services.<br>• Usage information — such as information about the Services you use, the time and duration of your use of the Services and other information about your interaction with content offered through a Service, and any information stored in cookies and similar technologies that we have set on your device.<br>• Location information — such as your computer’s IP address, your mobile device’s GPS signal or information about nearby WiFi access points and cell towers that may be transmitted to us when you use the Services.</p>



                <p><strong>Data From Third-Party Sources.</strong> We may receive information about you from publicly and commercially available sources, as permitted by law, which we may combine with other information we receive from or about you. For example, we may receive personal data about you from a social media site if you connect to the Services through that site.</p>



                <p><strong>Other Data We Collect.</strong> We also may collect other personal data about you, your device, or your use of the Services in ways that we describe to you at the point of collection or otherwise with your consent.</p>



                <h3 class="wp-block-heading">3. How We Use Personal Data</h3>



                <p>We will process your personal data on the following legal basis:<br>• <strong>Performance of the contract or at your request processing prior to entering into contract</strong><br><strong>When You Register or Create an Account.</strong> If you choose to use certain features on the Services, you may need to register or create an account and provide personal data such as name, email address, location, year of birth and a user name and password that you choose. We use this personal data to identify you and provide the requested feature and Services.</p>



                <p><strong>When you Make A Purchase.</strong> When you make purchases through the online Services, we may collect personal data such as your name, email address, billing address, the email or mailing address for delivery (if applicable), phone number, and payment card information. This personal data is used to process, fulfill and deliver your order.</p>



                <p><strong>• Compliance with Legal Obligations</strong><br><strong>When You Use the Services in Contravention of the Laws or Service Provider Regulations.</strong> As soon as we become aware of the fact that you are using the electronically provided Services against provisions of the binding laws, or the Services terms &amp; conditions or agreement you made with the Service provider on provision of these Services, we may use your personal data in order to establish your liability for such illegal use.</p>



                <p><strong>• Our Legitimate Interest</strong><br><strong>To Respond to You.</strong> When you contact us, we may collect personal data that identifies you (such as your name, address and a phone number) along with additional information we need to help us promptly answer your question or respond to your comment. We retain this personal data to assist you in the future and to improve our customer service, products, Services, and promotions.</p>



                <p><strong>To Contact You.</strong> We may contact you with offers and information about the Services and our affiliates, including to inform you about our products, events, promotions, and special offers that may be tailored to your interests. You may object to receiving commercial messages (excluding transactional messages) from us by following the instructions contained in our electronic messages or by contacting us as set out in the section “Personal data controller, data protection officer and contact details” above.</p>



                <p><strong>To Deliver Targeted Advertising.</strong> We may use your personal data, including your location information, to facilitate the delivery of targeted ads, promotions, and offers to you, on behalf of ourselves, select business partners, and advertisers, on and off the Services. (See “Interest-Based Advertisements” section below.).</p>



                <p><strong>To Better Understand Our Customers and to Improve Our Services.</strong> In the course of providing the Services, we may collect personal data on our users’ demographics, interests and behavior and analyze that personal data. We do this to better understand and serve our users, and to improve our products and Services.</p>



                <p><strong>To Facilitate Participation in Our Stored-Value Card Programs</strong>. If you purchase a stored-value card, we may also use your personal data to operate and manage that program, which may include setting up automatic reloads and providing online balance inquiries. We may also use this personal data to develop and improve our product and service offerings and provide you with tailored offers and information.</p>



                <p><strong>To Provide and Manage the Products and Services You Request.</strong> We use personal data that we collect to process your purchases of products, enable you to participate in features provided by the Services, provide you with tailored offers, and improve the Services that we provide to you. From time to time, we may offer you the ability to personalize our products and Services, such as by uploading a photo or other personal data. We may also use services provided by third parties (such as social media platforms) to serve targeted ads to you and others on such platforms.</p>



                <p><strong>When You Use a “Share with a Friend” or Similar Feature on the Services.</strong> The Services may offer a “share with a friend” or other similar feature which permits you to electronically send content from the Services to others by providing us with their contact information. Except where permitted by law, we do not use the contact information you provide when using this feature for other unrelated purposes without your consent or the consent of the recipient, as applicable. Please ensure that you only submit contact information for individuals you know and who would want to receive the content you share with them.</p>



                <p><strong>To establish, exercise or defense against any legal claims.</strong> We may process your personal data in order to establish, exercise or defense any legal claims against us.</p>



                <p><strong>• Consent</strong><br><strong>Consent.</strong> We may otherwise use your personal data with your consent or at your direction.<br>Depending on the controller the number of operations performed on your personal data may vary. Your personal data will be not subject to automatic decision-making.</p>



                <h3 class="wp-block-heading"><strong>4. Personal Data Storage Time</strong></h3>



                <p>We will keep your personal data for as long as it is needed to fulfil the purposes for which it was collected (e.g. if it was collected for the performance of a contract your personal data will be stored for the duration of the contractual relationship to fulfill the contract) and in order to comply with legal or regulatory requirements. This may mean that some personal data is held for longer than other personal data. Your personal data will be stored for a period of two (2) months and deleted afterwards, except if we are required by law to retain it for longer or shorter.</p>



                <h3 class="wp-block-heading"><strong>5. Sharing of Personal Data</strong></h3>



                <p>The following provides information about entities with which we may share your personal data. Our practices vary depending on the type of personal data and sharing.</p>



                <p><strong>Affiliates.</strong> We may share personal data within our family of affiliated companies so that we may provide offers from those companies that may be relevant to you, better understand your preferences, and improve our Services.</p>



                <p><strong>Franchisees.</strong> We may share personal data with local owners of BURGER KING®, TIM HORTONS®, and POPEYES® restaurants, particularly when they will work with us in delivering Services to you. For example, local restaurants will implement delivery and take-away services that you may request through the Services. We also may provide our franchisees with personal data so that a local restaurant may provide you with offers and promotions that might interest you.</p>



                <p><strong>Business Partners.</strong> We may also share your personal data with business partners to provide you with Services that you request. For example, if you sign up for a promotion that runs on our Services but that is sponsored or co-sponsored by another company, your personal data may be shared with that sponsor. Please be aware that these entities can have their own privacy practices establishing different rules than the ones stipulated in this Policy. Therefore, we recommend you review their privacy policies carefully.</p>



                <p><strong>Service Providers</strong>. We may share personal data with companies providing services on our behalf, such as delivery services, hosting vendors, advertising service providers, data analytics companies, marketing service companies, and list managers. We also may share your personal data, including your payment information, as appropriate to process your payments for the Services or complete a transaction. Our service providers are given the information they need to perform their designated functions, and we do not authorize them to use or disclose personal data for their own marketing or other unrelated purposes.</p>



                <p><strong>Social Media Services</strong>. If you connect a social media account with the Services or engage with our services through a social media platform, we may share your personal data with that social media platform, and it may share personal data about you with us. We may use this personal data to personalize your experience on the Services and on the third-party social media platforms, or to provide you with offers or other products or Services you may request. The social media services’ use of the shared personal data will be governed by the social media services’ Privacy Notice and your social media account settings. If you do not want your personal data shared in this way, do not connect your social media service account with the Services.</p>



                <p><strong>Companies that Provide Content, Advertising, or Functionality</strong>. Some of the content, advertising, and functionality on our Services may be provided by third parties, such as our advertisers. These companies may collect or receive certain information about your use of the Services, including through the use of cookies, beacons, and similar technologies, and this information may be combined with information collected across different websites and online services in order to deliver ads that are more relevant to you, both on and off our Services.</p>



                <p><strong>Other Parties When Required or Permitted by Law, or As Necessary to Protect Our Users and Services</strong>. We and our service providers (including affiliates) may use and share your personal data as we believe is necessary or appropriate to protect, enforce, or defend the legal rights, privacy, safety, or property of the Services, our employees or agents or users, to detect, suppress or prevent fraud or where otherwise required or permitted by applicable law or legal process, including responding to a search warrant or other legally valid requests from public and government authorities (which may include lawful access by governmental authorities, courts or law enforcement agencies).</p>



                <p><strong>Other Parties in Connection With a Corporate Transaction.</strong> We reserve the right to transfer any personal data we have about you in the event that we sell or transfer all or a portion of our business or assets to a third party, such as in the event of a merger, acquisition, or in connection with a bankruptcy reorganization.</p>



                <p><strong>Otherwise With Your Consent or at Your Direction</strong>. In addition to the sharing described in this Privacy Notice, we may share personal data about you with third parties whenever you consent to or direct such sharing.</p>



                <p><strong>Aggregated Data.</strong> We also may provide aggregated personal data, and data with personal identifiers removed, to third parties to describe how our customers are using the Services.</p>



                <h3 class="wp-block-heading"><strong>6. Cookie Policy</strong></h3>



                <p>Our Cookie Policy provides information about how we and other companies that provide advertising and other services on our Services may use cookies, web beacons, and similar technologies to facilitate administration and navigation, to better understand and improve our Services, to determine and improve the advertising shown to you here or elsewhere, and to provide you with a customized online experience.</p>



                <h3 class="wp-block-heading"><strong>7. Privacy and Access Choices Available To You</strong></h3>



                <p><strong>Choices With Respect To Cookies and Similar Technologies.</strong> You may block cookies and similar technologies in your browser or device settings, as and if permitted by such device.</p>



                <p><strong>Choices With Respect To Interest-Based Advertising.</strong> You may object to profiling performed by us or third parties affiliated to us regarding direct marketing as well as to receiving targeted advertising from participating ad networks, audience segment providers, ad serving vendors, and other service providers by visiting websites operated by the Network Advertising Initiative and Digital Advertising Alliance or by sending an e-mail to privacy@rbi.com.</p>



                <p><strong>Manage Your Account.</strong> You may access, modify or delete your account on the settings or profile page, or by contacting the Data Protection Officer at BKIrelandDPO@rbi.com with such written request.</p>



                <p><strong>Your Rights.</strong> Where the processing of your personal data is based solely upon your consent, you have the right to withdraw your consent at any time. If you decide to withdraw your consent we will stop processing your personal data for that purpose. This will not impact on the legality of any processing undertaken by us prior to the withdrawal of your consent.</p>



                <p>You have also the right to request access to your personal data, the right to rectification of inaccurate personal data, the right to deletion (under certain circumstances), the right to limit the processing (under certain circumstances), and the right to data portability. You are also entitled to object to the processing of your personal data in certain situations.</p>



                <p>Subject to applicable law, you may also have a right to access, update, and correct inaccuracies in other personal data in our custody and control, subject to certain exceptions prescribed by law. You may request access, updating and corrections of inaccuracies in the personal data we have by emailing or writing to us at the contact information set out below. We may request certain personal data for the purposes of verifying the identity of the individual seeking access to their personal data records.</p>



                <p>You can also lodge a complaint with a President of the Data Protection Office or relevant supervisory authority. To contact the Data Protection Commission, we invite you to visit its website: www.dataprotection.ie.</p>



                <p><strong>Email Promotions</strong>. You may opt out of receiving commercial email, text message, and other electronic messages from us (excluding transactional messages) by following the instructions contained in those messages.</p>



                <h3 class="wp-block-heading"><strong>8. Data Security</strong></h3>



                <p>We have in place physical, electronic and organizational procedures to protect personal data in our custody and control against loss, accidental or unlawful destruction, theft and unauthorized access, use, modification and disclosure.</p>



                <h3 class="wp-block-heading"><strong>9. Other Important Information</strong></h3>



                <p><strong>Children’s Privacy.</strong> We do not knowingly collect any personal information from children under the age of 16 without parental consent, unless permitted by law. If we learn that a child under the age of 16 has provided us with personal information, we will delete it in accordance with applicable law.<br>Links to Third-Party Sites. Our Services may link to third-party websites and services that we do not operate and are outside of our control. We are not responsible for the security or privacy of any information collected by other websites or other services. Please exercise caution and review the privacy statements applicable to the third-party websites and services you use.</p>



                <p><strong>International Transfers.</strong> The Services are headquartered in Switzerland. Please be aware that information you provide to us or that we obtain as a result of your use of the Services may be collected in your country and subsequently transferred to, maintained and processed in Switzerland, Ireland, or another country by us or our service providers for the purposes mentioned above in accordance with applicable law. We may also transfer your personal data to third countries outside the European Union (“EU”) or the European Economic Area (“EEA”), which may provide lower standards for data protection as your country of residence. While transferring your personal data to third countries we will ensure that the addressees provide appropriate safeguards. Information on used safeguards and the means by which you may obtain a copy of them will be available from the Data Protection Officer under BKIrelandDPO@rbi.com.</p>



                <p><strong>Changes to Our Privacy Notice.</strong> We may modify this Privacy Notice from time to time. We will notify you of changes by posting changes here, or by other appropriate means. Any changes to the Privacy Notice will become effective when the updated policy is posted on the Services and you were informed on the changes of our Privacy Notice.</p>



                <p><strong>Questions.</strong> Please contact our Data Protection Officer at BKIrelandDPO@rbi.com with any questions or concerns about this Privacy Notice or the manner in which we or our service providers treat your personal information.</p>



                <p>Last updated June 30 , 2020</p>
            </div>
        </div>
    </div>
    <%- include('./model/footer')%>

    <script type="text/javascript" src="/js/main.js" id="scripts-js"></script>
</div>
</body>
</html>

